{% extends 'layout.html.twig' %}

{% block title %}Page non trouvée{{ parent() }}{% endblock %}

{% block content %}
    <h1>Page non trouvée :(</h1>
    <p>
        La page recherchée n'existe pas.<br> <a href="{{ path('contact_listing') }}">Revenir à l'accueil</a>.
    </p>
{% endblock %}