/* Typo
-------------------------- */


/* Forms
-------------------------- */

.help-block {
    color: #a94442;
}

/* Grid
-------------------------- */

/* Icons
-------------------------- */

.glyphicon {
    font-size: 16px;
    margin: 0 4px;
}

/* Layout
-------------------------- */

/* Skin
-------------------------- */

/* Pages
-------------------------- */